* {
    padding: 0;
    margin: 0;
}

.branchCreate-container {
    padding: 0.5rem;
}

.branchCreate-container .box-body {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.branchCreate-container .box-body .branch-address {
    display: flex;
    align-items: center;
}

.branchCreate-container .box-body .branch-mail {
    display: flex;
    align-items: center;
}

.branchCreate-container .box-body .branch-mobile {
    display: flex;
    align-items: center;
}

.branchCreate-container .box-body h3 {
    width: 150px;
}